<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Free Website Template 14</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- begin #container -->
<div id="container">
    <!-- begin #header -->
    <div id="header">
        <div class="mainLogo">
            <div class="logo">Negocios </div>
            
        </div>
        <div class="icons">
            <a href=""><img src="images/facebook_32.png" alt="" /></a>&nbsp;<a href=""><img src="images/twitter_32.png" alt="" /></a>
        </div>
        <div id="navcontainer">
            <ul id="navlist">
                <li id="active"><a href="http://localhost:3000/index#">HOME</a></li>
                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>
                <li><a href="http://localhost:3000/sabios">Sabios</a></li>
                <!-- <li><a href="#">GALLERY</a></li> -->
                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>
                <li><a href="http://localhost:3000/plannegocios">Planes de Negocio</a></li>
                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>
                <li><a href="http://localhost:3000/emprendedors">Emprendedores</a></li>
                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>
                <li><a href="http://localhost:3000/categoria">Categoria</a></li>
                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>
                <li><a href="http://localhost:3000/subcategoria">Sub-categoria</a></li> 
            </ul>
        </div>
    </div>
    <!-- end #header -->

<h1>Preguntas</h1>

<table>
  <tr>
	<th>Plan de Negocio</th>
    <th>Pregunta</th>
    <th>Respuesta</th>    
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @faqs.each do |faq| %>
  <tr>
	<td><%= faq.plannegocio.tituloplan %></td>
    <td><%= faq.pregunta %></td>
    <td><%= faq.respuesta %></td>    
    <td><%= link_to 'Mostrar', faq %></td>
    <td><%= link_to 'Editar', edit_faq_path(faq) %></td>
    <td><%= link_to 'Eliminar', faq, method: :delete, data: { confirm: 'Esta seguro de eliminar?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva Consulta', new_faq_path %>
