<p id="notice"><%= notice %></p>

<p>
  <b>Codcategoria:</b>
  <%= @categorium.codcategoria %>
</p>

<p>
  <b>Nombrecategoria:</b>
  <%= @categorium.nombrecategoria %>
</p>


<%= link_to 'Edit', edit_categorium_path(@categorium) %> |
<%= link_to 'Back', categoria_path %>
