<h1>Listing subcategoria</h1>

<table>
  <tr>
    <th>Codcategoria</th>
    <th>Codsubcategoria</th>
    <th>Nombresubcategoria</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @subcategoria.each do |subcategorium| %>
  <tr>
    <td><%= subcategorium.codcategoria %></td>
    <td><%= subcategorium.codsubcategoria %></td>
    <td><%= subcategorium.nombresubcategoria %></td>
    <td><%= link_to 'Show', subcategorium %></td>
    <td><%= link_to 'Edit', edit_subcategorium_path(subcategorium) %></td>
    <td><%= link_to 'Destroy', subcategorium, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subcategorium', new_subcategorium_path %>
