<p id="notice"><%= notice %></p>

<p>
  <b>Codcategoria:</b>
  <%= @subcategorium.codcategoria %>
</p>

<p>
  <b>Codsubcategoria:</b>
  <%= @subcategorium.codsubcategoria %>
</p>

<p>
  <b>Nombresubcategoria:</b>
  <%= @subcategorium.nombresubcategoria %>
</p>


<%= link_to 'Edit', edit_subcategorium_path(@subcategorium) %> |
<%= link_to 'Back', subcategoria_path %>
