<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Free Website Template 14</title>
<link href="styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
<!-- begin #container -->
<div id="container">
    <!-- begin #header -->
    <div id="header">
        <div class="mainLogo">
            <div class="logo">Negocios </div>
            
        </div>
        <div class="icons">
            <a href=""><img src="images/facebook_32.png" alt="" /></a>&nbsp;<a href=""><img src="images/twitter_32.png" alt="" /></a>
        </div>
        <div id="navcontainer">
            <ul id="navlist">
                <li id="active"><a href="http://localhost:3000/index#">HOME</a></li>
                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>
                <li><a href="http://localhost:3000/sabios">Sabios</a></li>
                <!-- <li><a href="#">GALLERY</a></li> -->
                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>
                <li><a href="http://localhost:3000/plannegocios">Planes de Negocio</a></li>
                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>
                <li><a href="http://localhost:3000/emprendedors">Emprendedores</a></li>
                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>
                <li><a href="http://localhost:3000/categoria">Categoria</a></li>
                <li class="menuSeparator"><img src="images/menuSeparator.png" alt="" /></li>
                <li><a href="http://localhost:3000/subcategoria">Sub-categoria</a></li> 
            </ul>
        </div>
    </div>
    <!-- end #header -->

<h1>Lista de Planes de Negocio</h1>

<table bgcolor= "#FFFFFF" border="2" cellpadding="1" cellspacing="1" >
  <tr>
    <th bgcolor= "#c0c0c0"><font color="black">Codigo</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Titulo</font></th>

    <th bgcolor= "#c0c0c0"><font color="black">Codcategoria</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Codsubcategoria</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Vision</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Razonamiento</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Tiempoejecucionano</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Tiempoejecucionmes</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Tiempoejecuciondias</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Inversiontotal</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Margenneto</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Roi</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Linkdocumento</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Precioventa</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Validadoplan</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Mensajerechazo</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">CodSabio</font></th>
    <th bgcolor= "#c0c0c0"><font color="black">Codemprendedor</font></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plannegocios.each do |plannegocio| %>
  <tr>
<!--
    <td><font color="black"><%= plannegocio.codplan %></font></td>
    <td><font color="black"><%= plannegocio.tituloplan %></font></td>
    <td><font color="black"><%= plannegocio.codcategoria %></font></td>
    <td><font color="black"><%= plannegocio.codsubcategoria %></font></td>
    <td><font color="black"><%= plannegocio.vision %></font></td>
    <td><font color="black"><%= plannegocio.razonamiento %></font></td>
    <td><font color="black"><%= plannegocio.tiempoejecucionano %></font></td>
    <td><font color="black"><%= plannegocio.tiempoejecucionmes %></font></td>
    <td><font color="black"><%= plannegocio.tiempoejecuciondia %></font></td>
    <td><font color="black"><%= plannegocio.inversiontotal %></font></td>
    <td><font color="black"><%= plannegocio.margenneto %></font></td>
    <td><font color="black"><%= plannegocio.roi %></font></td>
    <td><font color="black"><%= plannegocio.linkdocumento %></font></td>
    <td><font color="black"><%= plannegocio.precioventa %></font></td>
    <td><font color="black"><%= plannegocio.validadoplan %></font></td>
    <td><font color="black"><%= plannegocio.mensajerechazo %></font></td>
    <td><font color="black"><%= plannegocio.codsabio %></font></td>
    <td><font color="black"><%= plannegocio.codemprendedor %></font></td>
    <td><%= link_to 'Show', plannegocio %></td>
    <td><%= link_to 'Edit', edit_plannegocio_path(plannegocio) %></td>
    <td><%= link_to 'Destroy', plannegocio, method: :delete, data: { confirm: 'Are you sure?' } %></td>
-->
	
    <td><%= plannegocio.codplan %></td>
    <td><%= plannegocio.tituloplan %></td>
    <td><%= plannegocio.codcategoria %></td>
    <td><%= plannegocio.codsubcategoria %></td>
    <td><%= plannegocio.vision %></td>
    <td><%= plannegocio.razonamiento %></td>
    <td><%= plannegocio.tiempoejecucionano %></td>
    <td><%= plannegocio.tiempoejecucionmes %></td>
    <td><%= plannegocio.tiempoejecuciondia %></td>
    <td><%= plannegocio.inversiontotal %></td>
    <td><%= plannegocio.margenneto %></td>
    <td><%= plannegocio.roi %></td>
    <td><%= plannegocio.linkdocumento %></td>
    <td><%= plannegocio.precioventa %></td>
    <td><%= plannegocio.validadoplan %></td>
    <td><%= plannegocio.mensajerechazo %></td>
    <td><%= plannegocio.codsabio %></td>
    <td><%= plannegocio.codemprendedor %></td>
    <td><%= link_to 'Visualizar', plannegocio %></td>
    <td><%= link_to 'Editar', edit_plannegocio_path(plannegocio) %></td>
    <td><%= link_to 'Eliminar', plannegocio, method: :delete, data: { confirm: 'Estas tu seguro de eliminar el plan de negocio?' } %></td>	

  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nuevo plan de Negocio', new_plannegocio_path %>

<%= form_for @search do |f| %>   
 <p>   
<%= f.label :tituloplan_contains %>   
<%= f.text_field :tituloplan_contains %>   
</p>   
<p class="button"><%= f.submit "Buscar plan de negocio" %> </p>   
<% end %>  
