<p id="notice"><%= notice %></p>

<p>
  <b>Codplan:</b>
  <%= @plannegocio.codplan %>
</p>

<p>
  <b>Tituloplan:</b>
  <%= @plannegocio.tituloplan %>
</p>

<p>
  <b>Codcategoria:</b>
  <%= @plannegocio.codcategoria %>
</p>

<p>
  <b>Codsubcategoria:</b>
  <%= @plannegocio.codsubcategoria %>
</p>

<p>
  <b>Vision:</b>
  <%= @plannegocio.vision %>
</p>

<p>
  <b>Razonamiento:</b>
  <%= @plannegocio.razonamiento %>
</p>

<p>
  <b>Tiempoejecucionano:</b>
  <%= @plannegocio.tiempoejecucionano %>
</p>

<p>
  <b>Tiempoejecucionmes:</b>
  <%= @plannegocio.tiempoejecucionmes %>
</p>

<p>
  <b>Tiempoejecuciondia:</b>
  <%= @plannegocio.tiempoejecuciondia %>
</p>

<p>
  <b>Inversiontotal:</b>
  <%= @plannegocio.inversiontotal %>
</p>

<p>
  <b>Margenneto:</b>
  <%= @plannegocio.margenneto %>
</p>

<p>
  <b>Roi:</b>
  <%= @plannegocio.roi %>
</p>

<p>
  <b>Linkdocumento:</b>
  <%= @plannegocio.linkdocumento %>
</p>

<p>
  <b>Precioventa:</b>
  <%= @plannegocio.precioventa %>
</p>

<p>
  <b>Validadoplan:</b>
  <%= @plannegocio.validadoplan %>
</p>

<p>
  <b>Mensajerechazo:</b>
  <%= @plannegocio.mensajerechazo %>
</p>

<p>
  <b>Codsabio:</b>
  <%= @plannegocio.codsabio %>
</p>

<p>
  <b>Codemprendedor:</b>
  <%= @plannegocio.codemprendedor %>
</p>


<%= link_to 'Edit', edit_plannegocio_path(@plannegocio) %> |
<%= link_to 'Back', plannegocios_path %>
